<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v3.5" sku=".NETFramework,Version=v3.5"/>
  </startup>-->
  <connectionStrings>
    <add name="cn" connectionString="Data Source=ANIK-PC\SQLEXPRESS;Initial Catalog=NewEdu;Integrated Security=True"/>
    <add name="cn1" connectionString="Data Source=ANIK-PC\SQLEXPRESS;Initial Catalog=NewSchool;Integrated Security=True"/>
    <add name="cnkids" connectionString="Data Source=ANIK-PC\SQLEXPRESS;Initial Catalog=NewKids;Integrated Security=True"/>
    <!--<add name="cn1" connectionString="Data Source=.;Max Pool Size=200; Initial Catalog=dbSchoolLive;uid =sa;pwd=edmu"></add>
    <add name="cn" connectionString="Data Source=.;Max Pool Size=200; Initial Catalog=dbedumatenewnew;uid =sa;pwd=edmu"></add>
    <add name="cnkids" connectionString="Data Source=.; Max Pool Size=200; Initial Catalog=dbedukids;uid =sa;pwd=edmu"></add>-->
    <!--<add name="cn1" connectionString="Data Source=74.63.215.251,1235;Max Pool Size=200;Initial Catalog=dbSchoolLive;uid =dbaEDU;pwd=dbaEdu@123"></add>
    <add name="cn" connectionString="Data Source=74.63.215.251,1234;Max Pool Size=200;Initial Catalog=dbedumatenew; uid =dbaedu7;pwd=Edu#123#"></add>
    <add name="cnkids" connectionString="Data Source=74.63.215.251,1235; Max Pool Size=200;Initial Catalog=dbedukids; uid =dbaEDU;pwd=dbaEdu@123"></add>-->
    <!--<add name="cn1" connectionString="Data Source=216.144.254.243;Max Pool Size=200;Initial Catalog=dbSchoolLivenew;uid =eduworld;pwd=eduworld#@345"/>
    <add name="cn" connectionString="Data Source=216.144.254.243;Max Pool Size=200;Initial Catalog=dbedumatenew;uid =eduworld;pwd=eduworld#@345"/>
    <add name="cnkids" connectionString="Data Source=216.144.254.243; Max Pool Size=200;Initial Catalog=dbedukidsnew;uid =eduworld;pwd=eduworld#@345"/>-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Enabled" value="true"/>
  </appSettings>
  <system.web>
    <sessionState timeout="540"/>
    <!--<compilation debug="true">-->
      <compilation debug="true" targetFramework="4.0">
      
    </compilation>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.aspx"/>
        <add value="index.htm"/>
        <add value="index.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.net>
    <!--<mailSettings>
      <smtp from="edumate@isofttechnoware.com">
        <network host="mail.isofttechnoware.com" userName="edumate@isofttechnoware.com" password="Vik@123#"/>
      </smtp>
      rajender@kmatechnoware.com
[11:36:19 AM] rajender.kumar607: Rajender@123
    </mailSettings>-->
    <mailSettings>
      <smtp from="noreply@edumateworld.com ">
        <network host="MAIL.EDUmate.edu.in " userName="noreply@edumateworld.com" password="Edu#Norply12"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEdumateService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IEdumateService1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.dotnetpassion.in/EdumateService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEdumateService" contract="IEdumateService" name="BasicHttpBinding_IEdumateService"/>
      <endpoint address="http://www.dotnetpassion.in/EdumateService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEdumateService1" contract="EdumateService.IEdumateService" name="BasicHttpBinding_IEdumateService1"/>
    </client>
  </system.serviceModel>
</configuration>