<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<!--<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
		<supportedRuntime version="v3.5" sku=".NETFramework,Version=v3.5"/>
	</startup>-->
	<connectionStrings>
		<!--<add name="cn1" connectionString="Data Source=.;Max Pool Size=200; Initial Catalog=dbSchoolLiveNew;uid =sa;pwd=edmu"></add>
    <add name="cn" connectionString="Data Source=.;Max Pool Size=200; Initial Catalog=dbedumatenew;uid =sa;pwd=edmu"></add>
    <add name="cnkids" connectionString="Data Source=.; Max Pool Size=200; Initial Catalog=dbedukidsnew;uid =sa;pwd=edmu"></add>-->
		<!--<add name="cn1" connectionString="Data Source=74.63.215.251,1235;Max Pool Size=200;Initial Catalog=dbSchoolLive;uid =dbaEDU;pwd=dbaEdu@123"></add>
    <add name="cn" connectionString="Data Source=74.63.215.251,1234;Max Pool Size=200;Initial Catalog=dbedumatenew; uid =dbaedu7;pwd=Edu#123#"></add>
    <add name="cnkids" connectionString="Data Source=74.63.215.251,1235; Max Pool Size=200;Initial Catalog=dbedukids; uid =dbaEDU;pwd=dbaEdu@123"></add>-->

    <add name="cn1" connectionString="Data Source=216.144.254.243;Max Pool Size=1200;Initial Catalog=dbSchoolLive;
         uid =eduworld;pwd=eduworld#@345"></add>
    <add name="cn" connectionString="Data Source=216.144.254.243;Max Pool Size=1200;Initial Catalog=dbedumate; 
         uid =eduworld;pwd=eduworld#@345"></add>
    <add name="cnkids" connectionString="Data Source=216.144.254.243; Max Pool Size=1200;
         Initial Catalog=dbedukids;uid=eduworld;pwd=eduworld#@345"></add>


	</connectionStrings>
	<system.web>
		<sessionState timeout="540">
		</sessionState>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<customErrors mode="Off"></customErrors>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
		<directoryBrowse enabled="false"/>
		<defaultDocument>
			<files>
				<clear/>
				<add value="index.asp"/>
				<add value="index.asp"/>
				<add value="index.htm"/>
				<add value="Default.aspx"/>
				<add value="index.html"/>
			</files>
		</defaultDocument>
	</system.webServer>
	<system.net>
		<mailSettings>
			<smtp from="edumate@isofttechnoware.com">
				<network host="mail.isofttechnoware.com" userName="edumate@isofttechnoware.com" password="Vik@123#"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
