@font-face {
	font-family: 'fontscorecomttwcenmt';
	src: url('./fontscorecomttwcenmt.eot');
	src: local('fontscorecomttwcenmt'), url('./fontscorecomttwcenmt.woff') format('woff'), url('./fontscorecomttwcenmt.ttf') format('truetype');
}
.fontsforweb_fontid_13141 {
	font-family: 'fontscorecomttwcenmt' !important;
}

