.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:1000px;
	height:300px;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:0;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:0;
}
/* Caption styles */

/* Direction nav styles (e.g. Next & Prev) */
