/*   Textbox  */
html {behavior:url('css3.1.htc');}

/* WaterMark */

.watermark
	{
		font-family:@Arial Unicode MS;
		font-size:13px;
	    color:Gray;
	    width:169px;
	}
	
.backcss
{
  background: none repeat scroll 0 0 #000000;
 left:0;
	opacity: 0.6;
 position: absolute;
 top:0;
 width:100%;
z-index: 100000
}
	

/* Text Boxes */

input[type='Password'], input[type='text'],input[type='Password']:focus,input[type='text']:focus,textarea,select
	{  width:300px;
		border: 1px solid #C5D7DB;
		border-radius:3px;
		box-shadow:0 4px 4px #F1F0F0 INSET;
		height:20px;
	 padding-left:5px;
	}
select 
{
	 width:308px;
	height:25px;
}	

input[type='Password']:focus,input[type='text']:focus,input[type='Password']:hover,input[type='text']:hover, textarea:hover, select:hover 

{
	box-shadow:none;
	border: 1px solid Sienna;
}

Select 
{
	padding:3px;
}

			.b
			{ background-color:#C5D7DB;
			  border-radius:5px;
				}

.blank
{
	height:10px;
}

/* Checkbox lblmsg */

.labelMsgRed ,.labelMsgGreen
{
	font-family:Verdana;
	font-size:15px;
}
.labelMsgRed
{
  color:Red;
}
.labelMsgGreen
{
	color:Green;
}

/* Checkbox Radiobutton */

.Checkbox ,.RadioButton
{

padding-left:4px;

	 font-family:Verdana;
	
	 font-size:12px;
	 
}

.Checkbox:hover ,.RadioButton:hover
{
	  background:#C7D1DD;
	  
}

/* Buttons */

.btn,
.btn-icon,
.btn-mini
{
	background-repeat: repeat-x;
	color: #FFF;	
	font-weight: bold;
	display: inline-block;	
	text-decoration: none;
	border-width: 1px;
	border-style: solid;
	padding: 0 15px 4px;
	*padding: 0 7px 4px;
	margin: 0;
	text-shadow: 1px 1px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.25);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.25);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=135,strength=2);
	cursor: pointer;
	position: relative;
}
	
	/* Active/Click state */
	.btn:active, .btn-icon:active, .btn-mini:active { top: 1px; }


/* Sizes */
.btn, .btn-icon { background-position: 0 -80px; font-size: 12px; height: 32px; line-height: 29px; }
.btn.btn-small, .btn-icon.btn-small { background-position: 0 0; font-size: 10px; height: 26px; line-height: 23px; }
.btn.btn-large, .btn-icon.btn-large { background-position: 0 -160px; font-size: 15px; height: 42px; line-height: 40px; }

	/* Sizes - Line height for A buttons need to be different */
	a.btn, a.btn-icon { height: 32px; line-height: 32px; padding-bottom: 0; }
	a.btn.btn-small, a.btn-icon.btn-small { line-height: 26px; padding-bottom: 0; }
	a.btn.btn-large, a.btn-icon.btn-large { line-height: 42px; padding-bottom: 0; }
	

/* Fix the button in IE7 :-( */
*+html .btn, *+html .btn-icon { border-color: none ; border: 1px solid transparent; }



/* Set default button colors */
.btn, .btn-icon, .btn-mini,
.btn:visited, .btn-icon:visited, .btn-mini:visited {  background-image: url(../img/bg-lite.png); background-color: #F90; border-color: #D58000; color: #FFF; }

.btn:hover, .btn-icon:hover, .btn-mini:hover { background-color: #D58000; color: #FFF; }


/* Colors */	
.btn-pink,
.btn-pink:visited { background-color: #FF0066; border-color: #DA0C59; }
.btn-pink:hover { background-color: #DA0C59; }

.btn-blue,
.btn-blue:visited { background-color: #066ECD; border-color: #0561B4; }
.btn-blue:hover { background-color: #0561B4; }

.btn-red,
.btn-red:visited { background-color: #E40001; border-color: #CC0000; }
.btn-red:hover { background-color: #CC0000; }

.btn-green,
.btn-green:visited { background-color: #77B32F; border-color: #689C29; }
.btn-green:hover { background-color: #689C29; }

.btn-black,
.btn-black:visited { background-color: #111; border-color: #000; }
.btn-black:hover { background-color: #000; }

.btn-purple,
.btn-purple:visited { background-color: #7B0F75; border-color: #6A0D66; }
.btn-purple:hover { background-color: #6A0D66; }

.btn-navy,
.btn-navy:visited { background-color: #002142; border-color: #00172F; }
.btn-navy:hover { background-color: #00172F; }

.btn-maroon,
.btn-maroon:visited { background-color: #750000; border-color: #530000; }
.btn-maroon:hover { background-color: #530000; }

.btn-yellow,
.btn-yellow:visited { background-color: #FFCC00; border-color: #D9AD01; }
.btn-yellow:hover { background-color: #D9AD01; }

.btn-teal,
.btn-teal:visited { background-color: #39A7B6; border-color: #2E8794; }
.btn-teal:hover { background-color: #2E8794; }

.btn-orange,
.btn-orange:visited { background-color: #F90; border-color: #D58000; color: #FFF; }
.btn-orange:hover{ background-color: #D58000; color: #FFF; }

.btn-grey,
.btn-grey:visited  { background-color: #999; border-color: #888; color: #FFF; }
.btn-grey:hover{ background-color: #888; color: #FFF; }


/* Images Overlays - Gradient Effect */
/* 50% Opacity for darker colors */
.btn-blue,
.btn-black,
.btn-purple,
.btn-navy,
.btn-maroon,
.btn-teal,
.btn-grey { background-image: url(../img/bg-dark.png) !important; }


/* 65% opacity for lighter colors */
.btn-red,
.btn-orange,
.btn-green,
.btn-yellow,
.btn-pink { background-image: url(../img/bg-lite.png) !important; }



/* Icon Button Styles */
.btn-icon { padding-left: 32px !important; }
*+html .btn-icon { padding-left: 20px !important; padding-right: 5px !important; }

.btn-icon span
{
	background-image: url(../img/btn-icons.png); 
	background-repeat: no-repeat; 
	background-position: 0 0; 
	width: 16px; 
	height: 16px; 
	position: absolute; 
	left: 6px; 
	top: 6px;
}

	.btn-icon.btn-small span { top: 4px; }
	.btn-icon.btn-large span { top: 12px; }
	@-moz-document url-prefix() { .btn-icon span { left: -24px; top: 0px; } .btn-icon.btn-small span { top: -1px; } .btn-icon.btn-large span { top: 4px; } } 


/* Mini Buttons */
.btn-mini 
{ 
	background-position: 0 0; 
	width: 32px; 
	height: 26px !important; 
	line-height: 500px !important; 
	overflow: hidden;
	padding: 0; 
}

	.btn-mini span 
	{ 
		background-image: url(../img/btn-icons.png); 
		background-repeat: no-repeat; 
		display: block;
		width: 16px; 
		height: 16px;
		line-height: 0;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -8px;
		margin-top: -8px;
	}
	
	
/* Icon Classes */
.btn-arrow-down span { background-position: -48px 0; }
.btn-arrow-up span { background-position: -32px 0; }
.btn-arrow-right span { background-position: -16px 0; }
.btn-arrow-left span { background-position: 0 0; }
.btn-comment span { background-position: -112px 0; }
.btn-heart span { background-position: -96px 0; }
.btn-star span { background-position: -80px 0; }
.btn-cart span { background-position: -64px 0; }
.btn-print span { background-position: -128px 0; }
.btn-rss span { background-position: -144px 0; }
.btn-person span { background-position: 0 -16px; }
.btn-check span { background-position: -16px -16px; }
.btn-dollar span { background-position: -32px -16px; }
.btn-refresh span { background-position: -48px -16px; }
.btn-home span { background-position: -64px -16px; }
.btn-plus span { background-position: -80px -16px; }
.btn-minus span { background-position: -96px -16px; }
.btn-cross span { background-position: -112px -16px; }
	
	
/* Transparent Button Styles */
.btn-transparent, .btn-transparent:hover { background-image: url(../img/bg-lite.png); background-color: transparent; filter: none; border-color: transparent\0/; border-color: rgba(0,0,0,.4) !important; margin: 0 1em 0 0; }
*+html .btn-transparent { border: none; }


/*All Heading Here  */

.H1Left,.H1Center,.H1Right,.H2Left,.H2Center,.H2Right,.H3Left,.H3Center,.H3Right,H1LeftT
.HBG1Left,.HBG1Center,.HBG1Right,.HBG2Left,.HBG2Center,.HBG2Right,.HBG3Left,.HBG3Center,.HBG3Right
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	
}

.H1Left ,.H1Center ,.H1Right ,.HBG1Left ,.HBG1Center ,.HBG1Right

{
	font-size:14px;
}
.H1LeftT
{
	font-size:10px;
 padding-left:1px;

}

.H2Left,.H2Center,.H2Right,.HBG2Left,.HBG2Center,.HBG2Right
{
	font-size:16px;

}
.H3Left,.H3Center,.H3Right ,.HBG3Left,.HBG3Center,.HBG3Right
{
	font-size:20px;
}

.HBG1Left,.HBG1Center,.HBG1Right,.HBG2Left,.HBG2Center,.HBG2Right,.HBG3Left,.HBG3Center,.HBG3Right
{
	background:#5B6EB3;
	color:White;
}


.HBG1Left , .HBG2Left , .HBG3Left , .H1Left , .H2Left , .H3Left
{
	text-align:left;
	padding-left:12px;

}

.HBG1Right , .HBG2Right , .HBG3Right , .H1Right , .H2Right , .H3Right

{
	text-align:right;
	padding-right:6px;
}

.HBG1Center , .HBG2Center , .HBG3Center , .H1Center , .H2Center , .H3Center

{
	text-align:center;
}

.HShort
{
	font-size: 6px;
}

/*  rounded div here */
.curved
{
 font-family: Verdana;
 border-style :solid;
 border-color:Black;
 background-color:White;
 border-width:1px;
  color:Black;
  -moz-border-radius:10px;
 -webkit-border-radius:10px;
  border-adius:10px;
  behavior:url(border-radius.htc);

}

/* formated table here */
.MasterTableLeft , .MasterTableCenter ,.NewTableLeft 
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
min-height:500px;
}

.MasterTableLeft td , .MasterTableCenter th ,.MasterTableCenter td , .MasterTableLeft th
{
font-size:12px;
border:1px solid #98bf21;
padding:0px 0px 0px 0px;
}

.MasterTableLeft th, .MasterTableCenter th
{
	font-size: 15px;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color:#5B6EB3;/* #4F9195; /* #006699; /*#A7C942;   #00779E;*/
	color: #fff;
	border: 1px solid #98bf21;
	text-align: center;
}

  .MasterTableLeft td, .NewTableLeft td
{
	text-align:left;
	padding-left:15px;


}

.NewTableLeft td  
{
	line-height:30px;
	vertical-align:top;	
}
.MasterTableCenter th , .MasterTableCenter td
{
	text-align:center;
}


.MasterTableLeft tr.alt td, .MasterTableCenter tr.alt td
{
	color: #000;
	background-color:#D4DDE6;/*#C1D6F7*/
}


.MasterTableLeft  .row-over ,MasterTableCenter  .row-over 
{ 
	background-color:#e5ecf9;
}

.MasterTableLeft .row-select ,MasterTableCenter .row-select
{ 
	background-color:#7aa5d6;
	color:#fff;
}



.NewTableLeft th
{
	line-height:30px;
	 color:White; 
	 padding-left:20px;
	 vertical-align:middle;
	 background-image:url(../img/gdd.jpg);
	 background-repeat:no-repeat;
	 background-position:left;
	 text-align:left;
	 font-weight:600;	  	 
}

.MasterTableLeft .row-data ,MasterTableCenter .row-data
{ 
	background-color:#ccc;
	color:#fff;
}

table
{
	border-style: none;
	border-color: inherit;
	border-width: 0;
	padding: 0;
	font-size:13px;	
	border-spacing:0;	   	    
	text-align:left;
	color:#666666;  
	font-family: "Helvetica Neue","Lucida Sans Unicode","Lucida Grande","Segoe UI","Verdana","Helvetica","Arial","sans-serif"; 
	 }
	 
	 body
	 {
	 	border-spacing:0;
	    
	 	margin-bottom: 0;
	 	 margin-left: 0; 
	 	 margin-right: 0; 
	 	 border-top: 0;
	 	 padding-top:0;
	 	 padding-bottom:0;
	 	 margin:0;
	 	 padding-left:0;
	 	 padding-right:0;
	 	 
	 	 -webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;

	 	 
	 	 
/*	 	 background:White; */
	 }
	 div
	 {
	 	border-spacing:0;
	    
	 		margin-bottom: 0;
	 	 margin-left: 0; 
	 	 margin-right: 0; 
	 	 border-top: 0;
	 	 padding-top:0;
	 	 padding-bottom:0;
	 	 padding-left:0;
	 	 padding-right:0;
	 
	 	
	 }
	 
	
.BoxOne ,.BoxTwo ,.BoxThree ,.BoxOneRound ,.BoxTwoRound ,.BoxThreeRound,.BoxFour,.BoxFourRound,.BoxBlankRound
	
	 {
	 	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	   margin :0px 0px 0px 0px ;
	   padding:0px 0px 0px 0px;
	 	border-style:solid;
	 	border-bottom-width:2px;
	 	border-left-width:2px;
	 	border-right-width:2px;
	 	border-top-width:2px;
	 	border-collapse:collapse;
	    width:100%;
	     font-family: Verdana;
          border-color:Black;
          border-spacing:0px;
	 	
	}
	.BoxOne , .BoxOneRound 
	
	{
		border-color:#7A9F7D;
	    background:#A1AED1; 	
	}
	.BoxTwo ,.BoxTwoRound 
	{
		border-color:#616B62;
	 background:#EDEDED; 	

	 	
	}
	.BoxThree ,.BoxThreeRound
	{
		border-color:#616B62;
	  background:#EEEFFF; 	

	 	
	}
	.BoxFour,.BoxFourRound
	{
	 border-color:#616B62;
	  background:#ffffff; 	

		
	}
	.BoxOneRound ,.BoxTwoRound ,.BoxThreeRound ,.BoxFourRound
	{
		
		border-color:#616B62;
		 -moz-border-radius:20px;
        -webkit-border-radius:20px;
        border-adius:20px;
       behavior:url(border-radius.htc);

	}	 
	 
	 
.validation
{
	border: thin solid #CC0000;
	padding: 0px;
	margin: 0px;
	font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
	background-color: #F5FA54;
}



	  .valid
{
	border: thin solid #333333;
	padding: 0px;
	margin: 0px;
	width: 200px;
	font-family: Verdana;
	background-color: #999999;
}

.crosbutton
{
 color:White; 
}

